<!-- This class works as a container for both the recipe list and its details @Author: Mariana Maher  -->
<div class="row recipesRow">
    <div class="col-md-5 recipesFirstColumn">
        <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-md-7 recipesSecondColumn">
    <!-- <app-recipe-detail *ngIf="selectedRecipe; else infoText" [recipe]="selectedRecipe"></app-recipe-detail> -->
       <router-outlet></router-outlet>
       <img src="../../assets/images/halloween.png" id="homepageImage" alt="homepage image"> 
    </div>
</div>